<div class="content">
  <div class="title">
    <h1>Categorias</h1>
  </div>

  <button class="mat-elevation-z4" color="primary" mat-stroked-button routerLink="new">+ NOVA CATEGORIA</button>

  <div class="mat-elevation-z8 table-content">
    <table [dataSource]="categories" class="table" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>NOME</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell>DESCRIÇÃO</th>
        <td *matCellDef="let element" mat-cell> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="books">
        <th *matHeaderCellDef mat-header-cell>LIVROS</th>
        <td *matCellDef="let element" mat-cell>
          <a class="row-book" [routerLink]="[element.id, 'books']"><i class="material-icons">book</i></a>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-header" mat-header-cell>AÇÕES</th>
        <td *matCellDef="let element" mat-cell>
          <a [routerLink]="[element.id, 'edit']" class="row-edit"><i class="material-icons">edit</i></a>
          <a [routerLink]="[element.id, 'delete']" class="row-delete"><i class="material-icons">delete</i></a>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

</div>

