.content {
  width: 90%;
  margin: 1.4rem auto auto auto;
}

.table {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title h1 {
  font-size: 2rem;
  color: #9b9898;
  font-weight: 500;
}
