<div class="content">
  <div class="title">
    <h1>Livros</h1>
  </div>

  <button [routerLink]="['new']" class="mat-elevation-z4" color="primary" mat-stroked-button>+ NOVO LIVRO</button>

  <div class="mat-elevation-z8 table-content">
    <table [dataSource]="books" class="table" mat-table>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>NOME</th>
        <td *matCellDef="let element" mat-cell> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="read-book">
        <th *matHeaderCellDef mat-header-cell>LER LIVRO</th>
        <td *matCellDef="let element" mat-cell>
          <a [routerLink]="[element.id]" class="row-book"><i class="material-icons">book</i></a>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="action-header" mat-header-cell>AÇÕES</th>
        <td *matCellDef="let element" mat-cell>
          <a [routerLink]="[element.id, 'edit']" class="row-edit"><i class="material-icons">edit</i></a>
          <a [routerLink]="[element.id, 'delete']" class="row-delete"><i class="material-icons">delete</i></a>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
  </div>

</div>
