<form *ngIf="book">
  <div>
    <h1>Tem certeza que deseja deletar o livro {{book.title}}?</h1>
  </div>

  <mat-form-field appearance="outline" class="form">
    <mat-label>Título</mat-label>
    <input [(ngModel)]="book.author" disabled matInput name="name" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form">
    <mat-label>Categoria</mat-label>
    <input [(ngModel)]="categoryName" disabled matInput name="category">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form">
    <mat-label>Autor</mat-label>
    <input [(ngModel)]="book.author" disabled matInput name="author" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form">
    <mat-label>Conteúdo</mat-label>
    <textarea [(ngModel)]="book.content" disabled matInput name="content" type="text"></textarea>
  </mat-form-field>

  <div class="buttons">
    <button (click)="cancel()" class="mat-elevation-z8" color="warn" mat-stroked-button type="button">CANCELAR</button>
    <button (click)="delete()" class="mat-elevation-z8" color="primary" mat-stroked-button type="button">DELETAR</button>
  </div>
</form>
